* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
}
.location h1 {
	text-align: center;
}
#nepal {
	color: red;
	text-transform: uppercase;
}
table {
	max-width: 860px;
	margin: auto;
}
td {
	padding: 50px;
	vertical-align: top;
}
/* Home.html */
/* Slogan */
.slogan {
	max-width: 860px;
	margin: auto;
}
.slogan p {
	text-align: center;
	margin: 20px 0;
}
.slogan img {
	width: 160px;
	display: block;
	margin: auto;
	margin-top: 50px;
}
/* .slogan h1 {
	color: red;
	font-size: 3rem;
} */
/* navbar */
nav {
	max-width: 960px;
	margin: auto;
}
nav ul {
	display: flex;
	justify-content: space-around;
}
nav ul li {
	margin: 10px 0;
	list-style: none;
}
nav ul a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
/* article */
.container {
	max-width: 860px;
	margin: auto;
	background: azure;
	margin-top: 50px;
	padding: 50px;
}
.content {
	display: flex;
	margin-top: 30px;
}
.para {
	padding: 20px;
	margin-top: 30px;
}
.para p {
	padding: 5px;
}

/* more */
.more {
	background-color: red;
	max-width: 960px;
	margin: auto;
	margin-bottom: 45px;
}
.more p {
	padding: 15px 0;
	font-weight: bold;
	text-align: center;
}
.more a {
	color: white;
	text-decoration: none;
}
/* footer */
footer {
	background-color: rgb(197, 197, 197);
	/* padding: 5px; */

	display: flex;
	justify-content: space-between;
}
footer p {
	font-size: 20px;
	margin-left: 25px;
	font-weight: bold;
	padding-top: 25px;
}
.icon {
	margin: 15px;
}
.icon a {
	padding: 0px 5px;
	text-decoration: none;
	color: black;
}
.git {
	margin-right: 15px;
}

/* detail */
.detail {
	max-width: 960px;
	margin: auto;
	line-height: 30px;
	margin-top: 35px;
}
.detail p {
	text-align: justify;
}

.detail a {
	text-decoration: none;

	font-size: 25px;
	padding: 0 5px;
	margin-bottom: 10px;
}

.detail img {
	display: block;
	margin: auto;
	width: 50%;
}

.detail-1 {
	max-width: 960px;
	margin: auto;
}
.detail-1 h2 {
	margin-top: 25px;
}

.detail-2 {
	display: flex;
}
.detail-3 {
	margin: 30px;
}
.detail-3 img {
	margin-bottom: 15px;
}
.detail-3 p {
	text-align: center;
	line-height: 1.5em;
}

/* icon color */
.fb {
	color: blue;
}
.tw {
	color: rgb(0, 181, 253);
}
.you {
	color: red;
}
.li {
	color: blue;
}
.git {
	color: black;
}

/* contact */
.ct {
	font-family: 'Roboto', sans-serif;
	background-color: rgb(189, 187, 187);
	max-width: 560px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 2rem;
}
.c-1 {
	background-color: rgb(255, 183, 90);
	padding: 25px;
}
.c-2 {
	padding: 25px;
}
.cc label {
	display: block;
	margin: 6px 0;
}
.cc input {
	width: 100%;
	padding: 7px;
	margin: 4px 0;
}
.cc textarea {
	width: 100%;
	margin-bottom: 20px;
}
.cc span {
	color: red;
}
.btn {
	display: block;
	margin: auto;
	padding: 10px;
	background-color: rgb(255, 183, 90);
	border: none;
	color: black;
}
.btn:hover {
	background-color: rgb(255, 145, 0);
	cursor: pointer;
}

/* about */
.about {
	max-width: 960px;
	margin: auto;
	padding-bottom: 2rem;
}
.a h1 {
	text-align: center;
	margin: 25px;
}
.a1 img {
	display: block;
	margin: auto;
	width: 100%;
	margin: 45px 0;
}

.a1 h1 {
	margin: 45px 0;
	font-size: 40px;
	text-align: center;
}

.st {
	font-size: 20px;
}
.st1 {
	font-size: 17px;
}

.team {
	max-width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 15px;
	background-color: coral;
}
.ig img {
	width: 100%;
	height: auto;
}

.a2 {
	display: flex;
}

.des {
	padding: 25px;
}

.des h3,
p {
	margin: 10px 0;
	text-align: center;
}

.work {
	text-align: center;
	background-color: coral;
	padding: 40px;
}

.work h2 {
	font-size: 3rem;
}

.work button a {
	text-decoration: none;
	color: black;
}
.work button {
	padding: 10px;
	background-color: aqua;
	border: none;
	border-radius: 5px;
}
