{% extends 'index.html' %} {% block content %} {% load static %}
<!-- about -->
<div class="about">
	<div class="a1">
		<h1>Learn More About Us.</h1>
		<img src=" {% static 'img/com.jpg'  %} " alt="com" />
		<p class="st" style="text-align: justify">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, numquam
			saepe. Numquam, harum consequuntur rem magnam ut eveniet nostrum iusto
			aperiam repudiandae quis, eum possimus officiis temporibus laudantium
			ducimus atque! Eveniet dolore sapiente, dignissimos fugiat mollitia labore
			ipsum officia commodi. Fugit at eum esse soluta magni minima quas ducimus,
			numquam assumenda unde maiores voluptates ab dolores porro architecto. Id
			sapiente odio, voluptatem, nostrum assumenda enim officiis repudiandae
			tenetur natus dolore praesentium illo nobis, quisquam necessitatibus quo
			culpa fugit dolor eaque aut ratione error? Nemo accusamus incidunt
			reiciendis pariatur explicabo aspernatur, tenetur placeat beatae
			obcaecati, quibusdam suscipit voluptatibus in eum veniam.
		</p>
		<br /><br />
	</div>

	<!-- Work with us -->
	<div class="work">
		<h2>We Write For You</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam esse
			repellat impedit incidunt dicta minus accusamus quasi dolor ullam itaque.
		</p>
		<button>
			<a href="{% url 'Home' %}">View Our Writing</a>
		</button>
	</div>

	<!-- Our Team -->
	<div class="a">
		<h1>Our Team</h1>
		<div class="a2">
			{% for about in abo %}
			<div class="team">
				<div class="ig">
					<img src="{{about.team_image.url}}" alt="team" />
				</div>
				<div class="des">
					<h3>{{ about.team_name }}</h3>
					<p>{{ about.team_position}}</p>
					<p>
						<i class="fa fa-phone" aria-hidden="true"> </i>
						{{about.team_phone}}
					</p>
					<p>
						<i class="fa fa-envelope" aria-hidden="true"></i>
						{{about.team_email}}
					</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% include 'footer.html' %} {% endblock content %}
