{% extends 'index.html' %} {% block content %} {% load static %}
<!-- about -->
<div class="about">
	<div class="a1">
		<h1>Learn More About Us.</h1>
		<img src=" {% static 'img/com.jpg'  %} " alt="com" />
		<p class="st">
			Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud
			cupidatat dolor sunt sint sit nisi est eu exercitation incididunt
			adipisicing veniam velit id fugiat enim mollit amet anim veniam dolor
			dolor irure velit commodo cillum sit nulla ullamco magna amet magna
			cupidatat qui labore cillum sit in tempor veniam consequat non laborum
			adipisicing aliqua ea nisi sint ut quis proident ullamco ut dolore culpa
			occaecat ut laboris in sit minim cupidatat ut dolor voluptate enim veniam
			consequat occaecat fugiat in adipisicing in amet Ut nulla nisi non ut enim
			aliqua laborum mollit quis nostrud sed sed.
		</p>
		<br /><br />
	</div>

	<!-- Work with us -->
	<div class="work">
		<h2>We Write For You</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam esse
			repellat impedit incidunt dicta minus accusamus quasi dolor ullam itaque.
		</p>
		<button>
			<a href="{% url 'Home' %}">View Our Writing</a>
		</button>
	</div>

	<!-- Our Team -->
	<div class="a">
		<h1>Our Team</h1>
		<div class="a2">
			{% for about in abo %}
			<div class="team">
				<div class="ig">
					<img src="{{about.team_image.url}}" alt="team" />
				</div>
				<div class="des">
					<h3>{{ about.team_name }}</h3>
					<p>{{ about.team_position}}</p>
					<p>
						<i class="fa fa-phone" aria-hidden="true"> </i>
						{{about.team_phone}}
					</p>
					<p>
						<i class="fa fa-envelope" aria-hidden="true"></i>
						{{about.team_email}}
					</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% include 'footer.html' %} {% endblock content %}
